header {
    width: 100%;
    padding: 1rem 2%;
    box-sizing: border-box;
    border-bottom: 2px solid #5D4037;
    background-color: #F5F1ED;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
}

.logoIcon {
    width: 40px;
}

.logoNome {
    margin-left: 20px;
    font-family: 'Noto Sans Georgian', sans-serif;
    color: #5D4037;
}

.opcoes {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 1.97rem;
    margin-left: auto;
    margin-right: auto;
}

.item a {
    color: #5D4037;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.02188rem;
    text-decoration: none;
}


.btn { white-space: nowrap; }

.item { white-space: nowrap; }